:root {
    --primary: '#000';
    --secondary: '#fffff';
    --color-face: #fc0022;
    --color1: #fff;
    --color-primary: #fff;
    --color-secondary: #000;
}

::-webkit-scrollbar {
	width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--color-secondary);
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--color-primary);
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #ffffffc6;
}

html {
	/* overflow-y: scroll; */
    overflow-x: hidden;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	/* overflow-scrolling: touch; */
    transition-duration: 9s;
}
body {
	overflow-y: visible;
  overflow-x: hidden;
	position: relative;
  height: unset;
  background-color: black;
  color: white;
}
html, body {
	margin: 0;
  overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
}

.londrina {
  font-family: "Londrina Solid", sans-serif;
}
.londrina-solid-thin {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.londrina-solid-light {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.londrina-solid-regular {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.londrina-solid-black {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.hero-sec {
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hero-intro {
    font-size: 2rem;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-subtitle {
    /* color: darkcyan; */
    color: #B100FF;
    /* background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

/* .about-sec {
    font-size: 1lvw;
} */

.container1 {
	width: 400%;
	height: 100vh;
	display: flex;
	flex-wrap: nowrap;
}

.firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: yellow;
}

.panel {
    min-width: 100vw;
}

.lastContainer {
  display: flex;
  height: 100vh;
  background: yellow;
}

.experiment-text {
    font-size: 35vw;
    font-weight: 400;
    text-transform: uppercase;
    background: lime;
}


/* custom cursor style */
.cursor{
  position: fixed;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  transition: transform 0.7s ease;
  transform-origin: center center;
  pointer-events: none;
  z-index: 1000;
}

.grow, .grow-small{
  transform: scale(3);
  background: white;
  mix-blend-mode: difference; 
  border: none;
}

.grow-small{
  transform: scale(2);
}

#experience-sec {
    width: 300vw;
    height: 100vh;
    background-color: var(--color-secondary);
}

/* experience section  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;400;700&display=swap");

.wrapper {
  overflow-x: hidden;
  position: relative;
}

.experience-container svg {
  position: absolute;
  top: 12em;
  left: 10vw;
  width: 50vw;
}
.experience-container svg .mask {
  width: 0;
}

.experience-container {
  display: flex;
  width: 300vw;
}
.experience-container .col {
  display: flex;
  gap: 3em;
}
.experience-container .col p {
  font-size: 0.8rem;
}
.experience-container section {
  width: 100vw;
  padding: 20vw 10vw;
}
.experience-container section h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}
.experience-container section p {
  font-size: 1.2rem;
  width: 50vw;
}
/* .experience-section ul {
  list-style-type: none;
  display: flex;
  gap: 3em;
  width: 100%;
  height: 300px;
  padding: 0;
}
.experience-section ul li {
  background: white;
  border-radius: 0.3em;
  flex-grow: 1;
} */


/* Projects  */

.spacer {
  width: 100%;
  height: 50vh;
  background: #efefef;
}

.spacer > div {
  color: #fff;
  font-weight: 900;
  font-size: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.headline {
  background: #d4d3d3;
  border-radius: 6px;
  height: auto;
  width: 100%;
  /* line-height: 3em; */
  font-size: 33px;
  padding-inline: 1em;
  font-family: "Londrina Solid", sans-serif;
}

.text {
  margin: 0.8em 0 0 0;
  font-family: "Londrina Solid", sans-serif;
  /* background: #efefef; */
  border-radius: 6px;
  /* height: 1em; */
  width: 100%;
}

.gallery {
  display: flex;
  outline: 1px solid red;
  background: #f8e6ef;
}

.left {
  width: 50%;
}

.detailsWrapper {
  margin: auto;
  width: 80%;
}

.details {
  outline: 1px solid green;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  outline: 1px solid purple;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photos {
  width: 40vw;
  height: 40vw;
  background: transparent;
  position: relative;
}

.photos-box {
  overflow: hidden;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  border-radius: 20px;
}

.photo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.photo img {
  float: left;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.red {
  background: #9A9FD5;
}

.green {
  background: #cdd1ff;
}

.blue {
  background: #FDF399;
}

.orange {
  background: #ffb399;
}

* {
  outline: 0px solid transparent !important;
  /* color: #1e90ff; */
}

@media all and (max-width: 640px) {
  .gallery {
    position: relative;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
    position: absolute;
  }

  .photos {
    position: absolute;
    width: 100%;
    height: 50vh;
    bottom: 0px;
  }

  .photos-box {
    width: 90%;
    height: 90%;
    top: 0%;
    left: 5%;
    bottom: 5%;
  }

  .details {
    justify-content: start;
    margin-top: 90px;
  }
}